<table class="bordered highlight">
  <thead>
    <tr class="row">
      <th><%= Category.human_attribute_name(:name) %></th>
      <th colspan="2"><%= t 'ui.label.actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% categories.each do |category| %>
      <tr class="row">
        <td style="width: 50%"><%= category.name %></td>
        <td><%= link_to t('ui.btn-edit'), edit_category_path(category),
            class: 'waves-effect waves-light btn' %></td>
        <td>
          <!-- <%= link_to t('ui.btn-delete'), category,method: :delete,
              class: 'waves-effect waves-light btn',
              data: { confirm: 'Are you sure?' } %> -->
          <a class="modal-trigger waves-effect waves-light btn"
            href="<%= "#modal_#{category.id}" %>"><%= t 'ui.btn-delete' %></a>
        </td>
      </tr>
      <%= render 'categories/partials/modal-delete', category: category %>
    <% end %>
  </tbody>
</table>
