<%= form_for(batch) do |f| %>
  <% if batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% batch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row"> <%# Row 1 %>
    <div class="input-field col s12">
      <%= fa_icon 'medkit', class: 'prefix', style: "width: 3%" %>
      <div id="chosen-with-icons">
        <%= f.label :product_id, class: 'active', id: 'chosen-label-with-icon'%>
        <%= f.select :product_id, options_for_select(products,
          selected: batch.product_id), {include_blank: true},
          {class: 'chosen-select', id: 'product_category_ids',
          data: {placeholder: t('ui.choose_m_msg',
          obj: Product.model_name.human)}} %>
      </div>
    </div>
  </div> <%# end row 1 %>

<div class="row"> <%# row 2 %>
  <div class="input-field col s12 l6">
    <%= fa_icon 'barcode', class: 'prefix' %>
    <%= f.label :barcode %>
    <%= f.text_field :barcode, autocomplete: false %>
  </div>

  <div class="input-field col s12 l6">
    <i class="demo-icon icon-box prefix"></i>
    <%= f.label :quantity %>
    <%= f.text_field :quantity, autocomplete: false %>
  </div>
</div> <%# end row 2 %>

<div class="row"> <%# row 3 %>
  <div class="input-field col s12 l6">
    <%= fa_icon 'calendar', class: 'prefix' %>
    <%= f.label :expiration_date %>
    <%= f.text_field :expiration_date,
        value: (batch.new_record? ? '' : l(batch.expiration_date)),
        class: 'datepicker'%>
  </div>

  <div class="input-field col s12 l6">
    <%= fa_icon 'dollar', class: 'prefix' %>
    <%= f.label :cost %>
    <%= f.text_field :cost, class: 'money'  %>
  </div>
</div> <%# end row 3 %>


  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
