<div class="row" id="relative-position">
  <h1 class="col s7 l9"><%= Batch.model_name.human.pluralize %></h1>
  <%# search form %>
  <%= render 'modules/search-form', url_path: batches_path %>
</div> <%# end row %>

<%# Floating Button %>
<%= render 'modules/fixed-btn', url: new_batch_path %>

<%# Pagination %>
<div id="pagination-container">
  <%= paginate @batches %>
</div>

<%# Records Table %>
<div class="has-modal" id="table-container">
  <%= render 'batches/partials/index_table', collection: @batches %>
</div>
