<p id="notice"><%= notice %></p>

<div class="row" id="relative-position">
  <h1 class="col s7 l9"><%= Category.model_name.human.pluralize %></h1>
<%# search form %>
  <%= render 'modules/search-form', url_path: categories_path %>
</div> <%# end row %>

<%= render 'modules/fixed-btn', url: new_category_path %>

<div id="table-container">
  <%= render 'categories/partials/index-table', categories: @categories %>
</div>
