<p id="notice"><%= notice %></p>

<h1><%= Category.model_name.human.pluralize %></h1>

<table class="bordered highlight">
  <thead>
    <tr class="row">
      <th><%= Category.human_attribute_name(:name) %></th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr class="row">
        <td style="width: 50%"><%= category.name %></td>
        <td><%= link_to t('ui.btn-edit'), edit_category_path(category),
            class: 'waves-effect waves-light btn' %></td>
        <td>
          <%= link_to t('ui.btn-delete'), category,method: :delete,
              class: 'waves-effect waves-light btn',
              data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('ui.btn-new-f', record: Category.model_name.human),
    new_category_path, class: 'waves-effect waves-light btn' %>
