<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="bordered highlight">
  <thead>
    <tr class="row">
      <th><%= Product.human_attribute_name(:name) %></th>
      <th><%= Product.human_attribute_name(:price) %></th>
      <th>Product type</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="row">
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.product_type %></td>
        <td><%= link_to 'Show', product,
              class: 'waves-effect waves-light btn' %></td>
        <td><%= link_to 'Edit', edit_product_path(product),
            class: 'waves-effect waves-light btn' %></td>
        <td>
          <%= link_to 'Destroy', product, class: 'waves-effect waves-light btn',
              method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path,
    class: 'waves-effect waves-light btn' %>

<script type="text/javascript">
  var msg
</script>
