<div class="row" id="relative-position">
  <h1 class="col s7 l9"><%= Product.model_name.human.pluralize %></h1>
  <%# search form %>
  <%= render 'modules/search-form', url_path: products_path %>
</div> <%# end row %>

<%# Floating button %>
<%= render 'modules/fixed-btn', url: new_product_path %>

<%# Pagination %>
<div id="pagination-container">
  <%= paginate @data_collection %>
</div>

<%# Records Table %>
<div class="has-modal" id="table-container">
  <%= render 'products/partials/index_table', collection: @data_collection %>
</div>

<script type="text/javascript">
  var msg
</script>
